# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# sphinx build folder
docs/_build/

# environment
venv/
.idea/

# temporary files
tmp/

# PBD files
obsolete/
**/*.mmtf

# for testing
!**/5awl.mmtf
!**/coordinates_5awl.txt
!**/3cln.mmtf
!**/3mge.mmtf
