# setuptools>=58.1.0
tox>=4.13.0
pytest>=8.0.2
pytest-cov>=4.1.0
coverage>=7.4.3

black>=24.2.0
flake8>=7.0.0
flake8-black>=0.3.6
flake8-builtins>=2.2.0
flake8-isort>=6.1.1

mypy>=1.8.0

sphinx_rtd_theme>=2.0.0
myst-parser>=2.0.0
docutils>=0.20.1
sphinxcontrib-bibtex>=2.6.2

# packaging and distribution (PyPI)
twine>=5.0.0
build>=0.7.0

# testing jupyter notebooks
nbmake>=1.5.0
jupyter>= 1.0.0
ipykernel>= 6.29.0
rise>= 5.7.1    #Not support notebook 7
notebook>=6.5.6
traitlets>=5.9.0

# -------------------------------------------------------------------------------
# pytest -v tests/ --cov=tests/ --cov=src/ --cov=data/ --cov=workflow/ --cov-fail-under 90 --cov-report term-missing --nbmake workflow/
# -------------------------------------------------------------------------------
