# to check packages 
# -----------------------------------------------------------------------------------------------------
# >>> pip install pipdeptree
# >>> pipdeptree | sed "s/^.* - .*//g" | sed "/^$/d"
# -----------------------------------------------------------------------------------------------------
scipy==1.7.1
numpy==1.21.2
pyscf==1.7.6.post1
h5py==3.1.0
pyberny==0.6.3
geomeTRIC==0.9.7.2

jupyterlab==3.1.13

# # testing and codecov
# # -----------------------------------------------------------------------------------------------------
# # >>> pytest -v tests/ --cov tests/ --cov-fail-under 90 --cov-report term-missing
# # -----------------------------------------------------------------------------------------------------
# pytest==6.2.5
# coverage==5.5
# pytest-cov==2.12.1
# # h5py==3.2.1 #salta error con esta version pyscf

# # code formatting
# # ---------------
# black==21.8b0
# flake8==3.9.2
# flake8-black==0.2.3
# flake8-builtins==1.5.3
# flake8-isort==4.0.0

# # documentations 
# # --------------
# sphinx==4.1.2
# sphinx_rtd_theme==0.5.1
# myst-parser==0.15.2
