
attrs>=23.2.0
scipy>=1.11.14
numpy>=1.26.4
pyscf>=2.5.0
h5py>=3.1.0  
GPyOpt>=1.2.6
pyDOE>=0.3.8
matplotlib>=3.8.3
matplotlib-inline>=0.1.6

# for jupyter notebook
py3Dmol>=2.0.4
notebook==6.5.6
notebook_shim==0.2.4
jupyter==1.0.0
ipykernel==6.29.3
rise==5.7.1


